$font-family-regular = TitilliumRegular
$font-family-light = TitilliumLight
$font-family-semibold = TitilliumSemiBold
$default-padding = 15px
$primary-color = #d9d9d9
$gray-scale = #a9a9a9
$gray-scale-secondary = #595959
$default-font-size = 15px
$white = #fff
$default-duration = .2s

// Toolbar
$toolbar-color = #557cf2
$toolbar-up-down-padding = 10px

// MessageButton
$button-padding = $default-padding
$send-button-size = 30px

// Nav
$min-nav-width = 280px
$inverse-color = #234d65

// Status
$available-color = #2ecc71
$offline-color = #bdc3c7
$away-color = #f39c12

// FlashMessage
$error-color = #e67e22
$success-color = #2ecc71
$danger-color = #e74c3c

// Media Queries
$mobile = 768px